<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DuyMinhWatch</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <%- include('./block/style.ejs') %>
        <style>
            input[type=radio] {
                width: 30px;
                height: 30px;
            }
        </style>
</head>

<body>
    <%- include('./block/header.ejs') %>
        <div class="container">
            <img style="width: 100%;" src="https://bizweb.dktcdn.net/100/415/697/files/bang-size.png?v=1639245000729"
                alt="">
        </div>
        <%- include('./block/footer.ejs') %>
            <%- include('./block/script.ejs') %>
</body>

</html>